@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	padding: 0px;
	margin: 0px;
	scroll-behavior: smooth
}

* {
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox */
}

*::-webkit-scrollbar {
	display: none;
	/* Safari and Chrome */
}

*::-moz-selection {
	/* Code for Firefox */
	color: white;
	background: rgb(79, 79, 79);
	;
}

*::selection {
	color: white;
	background: rgb(79, 79, 79);
	;
}